<tr>
  <td><%= fill_up.fill_date %></td>
  <td><%= fill_up.odometer %></td>
  <td><%= fill_up.gallons %></td>
  <td><%= fill_up.cost_per_gallon %></td>
  <td><%= fill_up.total_cost %></td>
  <td><%= fill_up.mpg_str %></td>
  <td><%= fill_up.note %></td>
</tr>
