<%= link_to "home", root_path %>

<p><%= link_to("Add FillUp", new_vehicle_fill_up_path(@vehicle))%></p>

<p>
  <b>Name:</b>
  <%= @vehicle.name %>
</p>
<p>
  <b>Ave mpg:</b>
  <%= @vehicle.ave_mpg %>
</p>
<table border=1>
  <tr>
    <td>fill date</td>
    <td>odometer</td>
    <td>gallons</td>
    <td>price per gallon</td>
    <td>total</td>
    <td>mpg</td>
    <td>note</td>
  </tr>
  <%= render(:partial => "fill_ups/fill_up", :collection => @fill_ups) %>
</table>


<%= link_to('Edit Vehicle', edit_vehicle_path(@vehicle)) %>
